h1 {
    color: rgb(248, 174, 88);
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    border-bottom: ridge;
}
h2 {
    color: rgb(255, 187, 85);
    font-style: italic ;
    text-decoration: rgb(240, 13, 202) underline dashed;
    text-align: center;
}
div{
    padding-top:5%;
}
html{
    /*background-image:linear-gradient(#c33764 , #1d2671);*/
    /*background: linear-gradient(to left, #bbd2c5, #536976, #292e49);*/
    /* background-image: linear-gradient( 330.8deg,  rgba(54,197,240,1) 8.2%, rgba(74,21,75,1) 92.4% ); */
    /* background: linear-gradient(to bottom right, #413e3d, #381604); */
    background-image: url('background3.png');
}
#mainlist{
    list-style:circle;
}
#part1{
    /* height:230px; */
}
#myImage {
    float: left;
    /* width: 180px;
    height: 230px; */
    width:15%;
    height: 15%;
    margin-left: 2%;
}

#contents li{
    list-style: none;
}
#contents{
    padding-top:0;
    margin-top:5% ;
    clear:both;
    margin-left:31%;
    width:30%;
}
#contents a:link,#contents a:visited{
    text-decoration:none;
    border: 1px solid white;
    /* background-color:darkblue; */
    background-image: linear-gradient(to right, cyan,blue,blue,cyan);
    margin-bottom: 20px ;
    display:block;
    width:300px;
    height:25px;
    text-align: center;
}
#contents a:hover,#contents a:active{
    color:white;
    /* background-color:yellow; */
    background-image:linear-gradient(to right, lightgrey,grey,black,grey,lightgrey);
}
.sections{
    font-size: 150%;
}
/*
.odd {
    background-image: linear-gradient(#ddd6f3 ,#faaca8);
}
.even {
    background-image:linear-gradient(#000428 , #004e92);
    color: white;
} 
*/
#part2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#part1 a{
    color:rgb(224, 45, 0);
}
a{
    color:yellow;
}
#end{
    font-size: 25px;
    padding-left: 50px;
    text-align: center;
}
@media (min-width:1001px){

#externalLinks {
    /* background-image: linear-gradient(to right,#050391 , #d0e4f8); */
    background: linear-gradient(to right, #076585, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* height: 130px; */
    width:auto;
    height: fit-content;
    /* margin-left: 0px; */
    margin-right: 24%;
    margin-top:0px;
    align-self:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:110%;
    padding-left:30%;
    padding-top:1px;
    padding-bottom:1px;
    line-height: 225%;
    color: rgb(0,0,0);
}
#contents{
    padding-top:0;
    margin-top:5% ;
    clear:both;
    margin-left:39%;
    width:30%;

}
}
@media (max-width:1000px){
    #myImage{
        margin-left:37%;
        margin-right:37%;
        width: 26%;
        height: 26%;
        float:center;
        clear:both;
        margin-bottom:5%;
    }
    #externalLinks{
        clear:both;
        margin-left:33%;
        width:30%;
        margin-right:25%;
        padding-left:6%;
        background: linear-gradient(to right, #076585, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        line-height: 225%;
        color: rgb(0,0,0);
        font-size:120%;
        margin-top:5%;
        margin-bottom:0%;
    }
    #contents{
        padding-top:0;
        margin-top:5% ;
        clear:both;
        margin-left:31%;
        width:30%;

    }
    .sections{
        font-size: 200%;
    }
}