h1 {
    color: rgb(248, 174, 88);
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    border-bottom: ridge;
}
h2 {
    color: rgb(255, 187, 85);
    font-style: italic ;
    text-decoration: rgb(240, 13, 202) underline dashed;
}
#mainlist{
    list-style:square;
}
#part1{
    height:230px;
}
#myImage {
    float: left;
    width: 180px;
    height: 230px;
    margin-left: 50px;
    
}
#externalLinks {
    /* background-image: linear-gradient(to right,#050391 , #d0e4f8); */
    background: linear-gradient(to right, #076585, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 130px;
    width:auto;
    margin-left: 0px;
    margin-right: 250px;
    margin-top:0px;
    align-self:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-left: 790px;
    padding-top:1px;
    padding-bottom:1px;
    line-height: 25px;
    color: rgb(0,0,0);
}
.division {
    height: fit-content;
    width:auto;
    margin-left: 50px;
    margin-top: 30px;
}
#contents li{
    list-style: none;
}
#contents a:link,#contents a:visited{
    text-decoration:none;
    border: 1px solid white;
    background-color:darkblue;
    margin-bottom: 20px ;
    display:block;
    width:300px;
    height:25px;
    text-align: center;
}
#contents a:hover,#contents a:active{
    color:darkblue;
    background-color:yellow;
}
/*
.odd {
    background-image: linear-gradient(#ddd6f3 ,#faaca8);
}
.even {
    background-image:linear-gradient(#000428 , #004e92);
    color: white;
} 
*/
#part2{
    /*background-image:linear-gradient(#c33764 , #1d2671);*/
    /*background: linear-gradient(to left, #bbd2c5, #536976, #292e49);*/
    /* background-image: linear-gradient( 330.8deg,  rgba(54,197,240,1) 8.2%, rgba(74,21,75,1) 92.4% ); */
    background: linear-gradient(to right, #1e130c, #9a8478);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#part1 a{
    color:rgb(224, 45, 0);
}
a{
    color:yellow;
}
#end{
    font-size: 25px;
    padding-left: 50px;
}